<!DOCTYPE html>
<html  class="no-js" lang="fr" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
  <link rel="stylesheet" href="{% static 'foundation/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'wifi/style.css' %}">
  <title>{% block titre %}WIFI{% endblock %}</title>
  {% block head %}

  {% endblock %}
</head>
<body>
<ul class="menu">
  <li><a href="{% url 'eleves' %}">Élèves</a></li>
  <li><a href="{% url 'create_eleve' %}">Ajout</a></li>
  <li><a href="{% url 'create_classe' %}">Classe</a></li>
 <li><a href="{% url 'upload' %}">Import</a></li>
  <li><a href={% url 'execute' %}>Execute</a></li>

</ul>
<form action="{% url 'eleves' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>

  <div class="grid-container">
    <div class="grid-x">
      {% block contenu %}
      {% endblock %}
    </div>
</div>
</body>
</html>
