{% extends 'base.html' %}

{% block titre %}
  Liste élèves
{% endblock %}

{% block contenu %}
<table>
  <tbody>
   <tr>{% for eleve in eleve_list %}

       <td><a href="{% url 'update_eleve' eleve.id %}" >{{ eleve.nom }}</a></td>
       <td>{{ eleve.prenom }}</td>
       <td>{{ eleve.classe }}</td>
       {% for machine in eleve.machine_set.all %} <td><a href="{% url 'update_machine' machine.id %}"> {{machine}} </a>
       </td> {% endfor %}
  {% endfor %}
   </tr>
  </tbody>
</table>
{% endblock %}
